{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="purchases">
        <div class="item">
            {% for purchase in pagination %}
                <div class="row">
                    <h4 class="text-center">{{ purchase.id }}</h4>
                    <p class="text-center">&euro;{{ purchase.total }} </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-2 col-md-offset-5">
            <div class="navigation">	
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}